.form-title{
    text-transform: capitalize;
    text-align: center;
    font-weight: Bold;    
    font-size: 50px;
}

.form-slogan{
    text-align: center;
    font-weight: bold;
    font-size: 36px;
}

.dropdown{
    height: 100%;
    border-radius: 5px;
    border: 1px solid #ced4da;
}

option{
    text-align: center;
}